*{
    margin: 0;
    padding: 0;
}
.section-1{
    background-color: burlywood;
    padding: 30px 0px;
}
.containar{
    width: 85%;
    margin: auto;
}
.section-1 h1{
    color: blueviolet;
    font-style: italic;
    font-size: 40px;
}
.section-1 p{
    color: aquamarine;
    font-size: 20px;
    margin-bottom: 30px;
}
.section-1 a{
text-decoration: none;
color:black ;
background-color: rgb(12, 240, 248);
padding:10px 20px ;
display: none;
}